// 使用する色
$black: #000;
$white: #fff;
$red: #f00;
$gray: #b2b2b2;
$light-gray: #F8F8F8;
$color-moderate: #e7e0db;

// デザイン指定色
$color-primary: #2ea9b7;
$color-primary-dark: #27acbb;
$color-accent: #efa309;
$color-bg-light: #d0e3ea;
$color-bg-extralight: #f9fdff;
$color-text-main: #444;

// 用途による色
$color-alert: $red;
$color-disable: #b2b2b2;

// ベース色
$color-main: $color-primary;
$color-secondary: $color-primary-dark;

// 背景
$color-bg: $white;
$color-header-bg: $color-primary;
$color-footer-bg: $color-primary;

// テキスト色
$color-text: $color-text-main;
$color-subText: $black;

// 透過度
$opacity: .7;

// テーブル
$color-table: #eee;
