@use 'global' as *;

.p-access {
  background-color: #FFF;
  width: 100%;
  border-bottom-right-radius: rem(60);
  overflow: hidden; // 念のため
}

.p-access__inner {
  padding-top: rem(40);
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(60);
}

.p-access__head {
  display: flex;
  justify-content: flex-start;
  margin-bottom: rem(20);
}

.p-access__title {
  color: #444;
  font-size: rem(24);
  font-family: 'YuMincho', '游明朝', serif;
  font-weight: $fw-medium;
  letter-spacing: 0.06em;
}

.p-access__map {
  background-color: #d9d9d9;
  width: 100%;
  aspect-ratio: 330 / 231;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(20);
}

.p-access__mapText {
  color: #000;
  font-size: rem(22);
  letter-spacing: 0.04em;
}

.p-access__address {
  color: #000;
  font-size: rem(15);
  font-family: 'YuMincho', '游明朝', serif;
  line-height: 1.6;
  margin-bottom: rem(60);
}

.p-profile__head {
  margin-bottom: rem(30);
}

.p-profile__inner {
  display: flex;
  justify-content: flex-start;
  gap: rem(26);
}

.p-profile__img {
  width: rem(174);
  height: rem(200);
  background: url('../img/profile_new.jpg') lightgray 50% / cover no-repeat;
  box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
}

.p-profile__info {
  display: flex;
  flex-direction: column;
  width: rem(150);
  flex-shrink: 0;
}

.p-profile__name {
  color: #444;
  font-size: rem(22);
  font-family: 'YuMincho', '游明朝', serif;
  font-weight: $fw-medium;
  letter-spacing: 0.12em;
  margin-bottom: rem(5);
  text-align: center;
}

.p-profile__nameEn {
  color: #717171;
  font-size: rem(14);
  font-family: 'Noto Serif JP', serif;
  font-weight: $fw-medium;
  letter-spacing: 0.04em;
  margin-bottom: rem(41);
  text-align: center;
}

.p-profile__license {
  display: flex;
  flex-direction: column;
}

.p-profile__licenseTitle {
  color: #444;
  font-size: rem(14);
  font-family: 'YuMincho', '游明朝', serif;
  font-weight: $fw-medium;
  letter-spacing: 0.2em;
  padding: rem(4) 0;
  border-top: 1px solid #D0E3EA;
  border-bottom: 1px solid #D0E3EA;
  margin-bottom: rem(10);
  text-align: center;
}

.p-profile__licenseList {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: rem(9.5);
  font-family: "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
  font-weight: $fw-medium;
  line-height: 1.6;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  gap: rem(10);
  white-space: nowrap;
}

.p-profile__btnWrap {
  margin-top: rem(30);
  display: flex;
  justify-content: center;
}

.c-btn-detail {
  background-color: #dae9ed;
  width: rem(237);
  height: rem(40);
  border-radius: rem(20);
  box-shadow: 0 rem(2) rem(2) rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-size: rem(15);
  font-family: $ff-sans;
  font-weight: $fw-medium;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border: none;
  appearance: none;
}

.c-btn-detail::after {
  content: '';
  position: absolute;
  right: rem(20);
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: rem(5) solid transparent;
  border-right: rem(5) solid transparent;
  border-top: rem(6) solid #444;
  transition: transform 0.3s;
}

.c-btn-detail.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.p-profile__accordionContent {
  display: none;
  margin-top: rem(30);
}

.p-profile__historyItem {
  font-family: $ff-sans;
  font-size: rem(12);
  line-height: 1.8;
  color: #444;
  position: relative;
  padding-left: rem(20);
  margin-bottom: rem(20);
}

.p-profile__historyItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: rem(6);
  width: 0;
  height: 0;
  border-top: rem(5) solid transparent;
  border-bottom: rem(5) solid transparent;
  border-left: rem(7) solid #D0E3EA;
}

.p-profile__historyItem:last-child {
  margin-bottom: 0;
}
