@use 'global' as *;

.l-body {
  background-color: $white;
  color: $color-text;
}

.l-wrapper {
  width: 100%;
  max-width: $layout-width-canvas;
  min-width: 320px;
  background-color: $color-bg-light;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 14px -2px rgba(0, 0, 0, .25);
  position: relative;
  // 下部固定CTA（p-footer-cta）の重なり防止
  padding-bottom: rem(84);
}